# Visual Studio Cache and Build Folders
.vs/
Debug/
Release/
x64/
*.user
*.aps

# Massive Data Assets
terrain_data.bin
map_chunks_19x2/

# Local App State
imgui.ini
mission_cache.dat

# Deprecated/Unused Files
